doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/style.min.css')
  title О_о а если найду?
body
  .app 
    .app__inner 
      main
        .search-widget
          .search-widget__search-field.search-field
            .search-field__wrapper
              input(placeholder="Что ищем?" name="search-field").search-field__input
              button(name="search-button").search-field__button Найти
              .search-field__icon
          .search-widget__errors
        .search-result
  script(src="js/main.js" type="module") 